body.cm {
  font-size: .875rem;
  font-family: 'Lora', serif;
}
body a {
  color: #88bae3;
}
body a:hover,
body a:focus {
  color: #88bae3;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.page-content {
  margin-top: 40px; /* fixed navbar offset */
}

/*
* Navbar
*/

.navbar .logo {
  width: 24px;
  height: 24px;
  margin-top: -4px;
}
.navbar .nav,
.navbar .btn {
  font-family: "Montserrat", sans-serif;
}
.navbar-dark .nav-item .nav-link {
  color: #fff;
}
.navbar-dark .nav-item.active .nav-link,
.navbar-dark .nav-item:focus .nav-link,
.navbar-dark .nav-item:hover .nav-link {
  color: #88bae3;
}
.navbar .btn {
  outline: none;
}
.navbar .btn img {
  width: 24px;
  height: 24px;
}
.navbar li:hover .dropdown-menu {
    display: block;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.navbar .nav-what {
  padding: .25rem 1.5rem;
}

/*
* Sidebar
*/

.sidebar {
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
  position: relative;
  top: 0;
  opacity: 0.9;
  
}

.sidebar > section {
  opacity: .3;
  transition: opacity 1s;
  padding: 4vh 18px 20vh;
} 
.sidebar > section:first-child {
  padding-top: 4vh;
}

.sidebar > section.active {
  opacity: 1;
}

.sidebar-scroll-section {
}

/*
* Content
*/

[role="main"] {
  padding-top: 133px; /* Space for fixed navbar */
}

@media (min-width: 768px) {
  [role="main"] {
    padding-top: 48px; /* Space for fixed navbar */
  }
}

.scroll-down {
  margin: 148px auto 0;
  height: 64px;
  width: 64px;
  background: url(/static/img/noun_scroll_down.png) no-repeat center center;
  background-size: 64px;
  opacity: 0.8;
}

/* ============ */
/* = Main Map = */
/* ============ */


.main-map {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
}

.main-map-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
}

@supports ((position: -webkit-sticky) or (position: sticky)) {
  .main-map-sticky {
    position: -webkit-sticky;
    position: sticky;
  }
}

/* =================== */
/* = Snapshot Detail = */
/* =================== */

figure.snapshot-detail-container {
  position: fixed;
  opacity: 0;
  transition: opacity 1s;
  top: 60px;
  right: 18px;
  max-width: 32%;
}
figure.snapshot-detail-container.right-side {
  top: auto;
  bottom: 18px;
  left: 18px;
  right: auto;
}
figure.snapshot-detail-container.active {
  display: block;
  opacity: 1.0;
}

.snapshot-detail-container .figure-img {
  width: 488px;
  height: auto;
}

