[Unit]
Description=camera daemon
After=network.target

[Service]
PIDFile=/home/pi/comfortmaps/logs/camera.pid
User=root
Group=www-data
WorkingDirectory=/home/pi/comfortmaps/camera
RuntimeDirectory=/home/pi/comfortmaps/camera
ExecStart=/home/pi/.nvm/versions/node/v9.11.2/bin/node camera.js
ExecReload=/bin/kill -s HUP $MAINPID
ExecStop=/bin/kill -s TERM $MAINPID
PrivateTmp=true

[Install]
WantedBy=multi-user.target
