{% extends "base.html" %}
{% load static %}
{% block head %}
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block style %}
<style>
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
{% endblock %}

{% block content %}
<div class = "container">
  <div class = "col-md-6 col-md-offset-3">
    <div class="wrapper">
      <h2 class="form-signin-heading">Comfort Maps</h2>
    </div>
  </div>
</div>

<div id="map" class="CM-main-map"></div>
{% endblock %}

{% block script %}
{% csrf_token %}
<script type="text/javascript">
// using jQuery
window.csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<script src="{% static "js/main_map.js" %}"></script>
<script>
  $(document).ready(() => {
    CM.initMap();
  });
</script>
{% endblock %}