{% extends "base.html" %}
{% load static records_extras %}
{% block head %}
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
<link rel="stylesheet" href="{% static "css/main_map.css" %}">
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.6.26/webfont.js"></script>
<script src="https://api.mapbox.com/mapbox-gl-js/plugins/mapbox-gl-geocoder/v4.4.2/mapbox-gl-geocoder.min.js"></script>
<script src="{% static "js/vendor/moment.min.js" %}"></script>
{% endblock %}


{% block content %}

<nav class="navbar navbar-dark fixed-top bg-dark flex-md-nowrap p-0 shadow">
  
  <a class="navbar-brand col-2" href="#">
    <img src="{% static "img/favicon64.png" %}" class="logo">
    Comfort Maps
  </a>
  
  <ul class="nav col-6">

    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownWhat" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        What are Comfort Maps?
      </a>
      <div class="dropdown-menu mt-0" aria-labelledby="navbarDropdownWhat">
        <p class="nav-what">
          These are stories told about the lived experience of bicyclists on city streets.<br><br>The Comfort Maps camera is a special device used to capture real-life data on the streets in an effort to move towards cleaner mobility. </p>
        <a class="dropdown-item" href="#">Learn more...</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Get the Camera</a>
    </li>
  </ul>
  
  <div class="col-4">
    <ul class="nav justify-content-end">
      <li class="nav-item nav-filter dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownFilter" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="img"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right mt-0" aria-labelledby="navbarDropdownFilter">
          <div class="filter-ratings btn-group btn-group-toggle d-flex flex-row" data-toggle="buttons">
            <label class="btn btn-filter-bad btn-secondary justify-content-center align-items-center d-flex flex-wrap rounded-0 shadow-none">
              <input type="radio" name="options" id="option1" >
              <div class="snapshot-rating filter-rating-bad">
                <span class="rating rating-1"></span>
                <span class="rating rating-2"></span>
                <span class="rating rating-3"></span>
                <span class="rating rating-4"></span>
                <span class="rating rating-5"></span>
              </div>
              <div class="">The bad</div>
            </label>
            <label class="btn btn-filter-none btn-secondary justify-content-center align-items-center d-flex flex-wrap shadow-none active">
              <input type="radio" name="options" id="option2" checked> 
              <div class="snapshot-rating filter-rating-all">
                <span class="rating rating-1"></span>
                <span class="rating rating-2"></span>
                <span class="rating rating-3"></span>
                <span class="rating rating-4"></span>
                <span class="rating rating-5"></span>
              </div>
              <div class="">All snapshots</div>
            </label>
            <label class="btn btn-filter-good btn-secondary justify-content-center align-items-center d-flex flex-wrap rounded-0 shadow-none">
              <input type="radio" name="options" id="option3">
              <div class="snapshot-rating filter-rating-good">
                <span class="rating rating-1"></span>
                <span class="rating rating-2"></span>
                <span class="rating rating-3"></span>
                <span class="rating rating-4"></span>
                <span class="rating rating-5"></span>
              </div>
              <div class="">The good</div>
            </label>
          </div>
          <div class="filter-ownership btn-group btn-group-toggle d-flex flex-row" data-toggle="buttons">
            <label class="btn btn-ownership-self btn-secondary rounded-0 shadow-none">
              <input type="radio" name="ownership" id="ownership1" >
              <div class="snapshot-ownership ownership-self">
                <img src="{% static "img/noun_account.png" %}" class="mx-auto d-block">
                Only my snapshots
              </div>
            </label>
            <label class="btn btn-ownership-all btn-secondary rounded-0 shadow-none active">
              <input type="radio" name="ownership" id="ownership2" checked> 
              <div class="snapshot-ownership ownership-all">
                <img src="{% static "img/noun_everyone.png" %}" class="mx-auto d-block">
                Everybody's snapshots
              </div>
            </label>
          </div>
        </div>
      </li>
      <li class="nav-item nav-account dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownAccount" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="img"></span>
        </a>
        <div class="dropdown-menu dropdown-menu-right mt-0" aria-labelledby="navbarDropdownAccount">
          {% if user.is_authenticated %}
            
          {% else %}
            <div class="px-3 py-2">
              <form class="form" role="form" method="post" action="/accounts/login/">
                {% csrf_token %}
                <div class="form-group">
                  <input id="input-account-email" placeholder="Email" class="form-control form-control-sm" type="text" required="" name="email" autofocus>
                </div>
                {# <div class="form-group"> #}
                {#   <input id="passwordInput" placeholder="Password" class="form-control form-control-sm" type="text" required=""> #}
                {# </div> #}
                <div class="form-group">
                  <button type="submit" class="btn btn-primary btn-block">Signup / Login</button>
                </div>
                {# <div class="form-group text-center"> #}
                {#   <small><a href="#" data-toggle="modal" data-target="#modalPassword">Forgot password?</a></small> #}
                {# </div> #}
              </form>
            </div>
          {% endif %}
        </div>
      </li>
    </ul>
  </div>
  
</nav>

<!-- Begin page content -->
<div class="container-fluid p-0 page-content">
  <div class="row no-gutters">

    <div class="col-md-5 col-lg-4 d-none d-md-block bg-dark text-light sidebar position-relative" >
      <section class="sidebar-scroll-section" id="sidebar-section-1">
        <h1 class="display-4">Why are the bike lanes in Cambridge so dangerous?</h1>
        <p class="lead">Cambridge is home to 120,000 people. There are 670,000 people in neighboring Boston. In the <a href="https://www.cambridgema.gov/CDD/Transportation/gettingaroundcambridge/bikesincambridge/bicyclenetworkplan">Cambridge Bicycle Plan</a>, published in 2015, Cambridge has committed to increasing the share of commute trips by bike to 10 percent by 2020. Cambridge has also set a goal of decreasing bike crashes by 50 percent.</p>

        <p>This is the visual story of what that plan looks like today and where changes need to be made.</p>
        <h6 class="author">Samuel Clay, May 12th, 2020</h6>
        
        <div class="scroll-down"></div>
        
      </section>

      <section class="sidebar-scroll-section" id="sidebar-section-2">
        <h2 class="display-4">Bike Lanes of Today</h2>
        <p class="lead">In 2018 there are 195 miles of bike lanes across the city of Boston. The <a href="https://www.cityofboston.gov/images_documents/Boston%20Bike%20Network%20Plan%2C%20Fall%202013_FINAL_tcm3-40525.pdf">Boston Bike Network Plan</a> calls for adding 75 more miles between 2013 and 2019. And reaching 350+ total miles by 2043.</p>

        <p>Boston is attempting to create a world-class biking city, but to do that the city needs to do more than add bike lanes. Improving safety is what leads to increasing usage of the bike faciities in the city and to do that Boston needs to consider several problem areas.</p>
      </section>
      
      <section class="sidebar-scroll-section" id="sidebar-section-3">
        <h2>Oxford Street is a bottleneck</h2>
        <p class="lead">But there remains a handful of parking spots even though there are numerous bikes and lightweight two-wheeled vehicles rolling through. This map shows where the street is hazardous for bikes due to unnecessary parking.</p>
      </section>
      
      <section class="sidebar-scroll-section" id="sidebar-section-4">
        <h2>Crashes Also Tell a Story</h2>
        <p class="lead">As part of the Vision Zero plan for Boston, every crash involving a bike that required a public safety response through 911 has been shown here.</p>
        <p>Most crashes in Boston are caused by drivers not seeing bikes, whether or not the bike was in a bike lane.</p>
      </section>
      
      <section class="sidebar-scroll-section" id="sidebar-section-5">
        <p class="lead">Zooming in highlights streets with numerous complaints lacking bike lanes.</p>
        <p class="note live-driving off">
          <span class="live-driving-icon"></span> 
          <span class="live-driving-text">Live driving is off</span>
        </p>
        <div class="zoom-streets">
          <div class="zoom-street zoom-street-1 active">
            <div class="zoom-street-number">1</div>
            <div class="zoom-street-name">Washington St. in Roslindale</div>
          </div>
          <div class="zoom-street zoom-street-2">
            <div class="zoom-street-number">2</div>
            <div class="zoom-street-name">Massachusetts Ave.</div>
          </div>
          <div class="zoom-street zoom-street-3">
            <div class="zoom-street-number">3</div>
            <div class="zoom-street-name">Huntington St.</div>
          </div>
          <div class="zoom-street zoom-street-4">
            <div class="zoom-street-number">4</div>
            <div class="zoom-street-name">Seaport Blvd.</div>
          </div>
          <div class="zoom-street zoom-street-5">
            <div class="zoom-street-number">5</div>
            <div class="zoom-street-name">Tremont St.</div>
          </div>
          <div class="zoom-street zoom-street-6">
            <div class="zoom-street-number">6</div>
            <div class="zoom-street-name">W Roxbury Pkwy.</div>
          </div>
          <div class="zoom-street zoom-street-7">
            <div class="zoom-street-number">7</div>
            <div class="zoom-street-name">Washington St. in Dorchester</div>
          </div>
          <div class="zoom-street zoom-street-8">
            <div class="zoom-street-number">8</div>
            <div class="zoom-street-name">Charles St.</div>
          </div>
        </div>
      </section>
      
    </div>
    
    <main role="main" class="container-fluid position-fixed h-100 p-0">
      <div id="CM-main-map" class="mapbox w-100 h-100 m-0 row"></div>
    </main>
    
    
    <figure class="figure card snapshot-detail-container bg-dark rounded p-0 offset-4" :class="{ active: !!activeSnapshot, 'left-side': leftSide, 'right-side': !leftSide, 'top-side': topSide, 'bottom-side': !topSide, owned: owned }" v-if="activeSnapshot">
      <img :src="activeSnapshot.properties.url" class="figure-img img-fluid rounded-top" v-if="activeSnapshot.properties.photo_uploaded">
      <div class="card-body">
        <figcaption class="figure-caption text-light">
          <div class="snapshot-rating-date">
            <div class="snapshot-rating" :class="'active-rating-'+activeSnapshot.properties.rating">
              <span class="rating rating-1" v-on:click="changeRating(1)"></span>
              <span class="rating rating-2" v-on:click="changeRating(2)"></span>
              <span class="rating rating-3" v-on:click="changeRating(3)"></span>
              <span class="rating rating-4" v-on:click="changeRating(4)"></span>
              <span class="rating rating-5" v-on:click="changeRating(5)"></span>
            </div>
            {% verbatim %}
              <span class="snapshot-date">{{ activeSnapshot.properties.date | formatDate }}</span>
            {% endverbatim %}
          </div>
          {% verbatim %}
            <h3>{{ activeSnapshot.properties.poi }}</h3>
            <h5>{{ activeSnapshot.properties.address }}</h5>
          {% endverbatim %}
          {# {{ activeSnapshot.properties }}  #}
        </figcaption>
      </div>
    </figure>
    
  </div>
</div>
{% endblock %}

{% block script %}
{% csrf_token %}
<script type="text/javascript">
  // using jQuery
  window.csrftoken = jQuery("[name=csrfmiddlewaretoken]").val();
</script>

<script src="{% static "js/main_map.js" %}"></script>
<script>
  $(document).ready(() => {
    CM.Globals = {
      defaultLat: 42.375,
      defaultLng: -71.122,
      authenticated: {{ user.is_authenticated|yesno:"true,false" }},
      email: "{{ user.email }}",
      emailHash: "{{ user.email|md5:"6" }}"
    };
    CM.initMap();
  });

  WebFont.load({
    google: {
      families: ['Lora', 'Montserrat']
    },
    fontactive: function(fontName) {
      // console.log(['Fonts loaded', fontName]);
      if (!CM.fontsLoaded) CM.fontsLoaded = 0;
      CM.fontsLoaded += 1;
      if (fontName == "Lora" || CM.fontsLoaded >= 2) {
        CM.fontsReady && CM.fontsReady();
      }
    }
  });
</script>
{% endblock %}