{% extends "base.html" %}
{% load static %}
{% block head %}
<meta name="viewport" content="initial-scale=1,maximum-scale=1,user-scalable=no" />
<script src="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.9.0/mapbox-gl.css" rel="stylesheet" />
{% endblock %}

{% block style %}
<style>
    #map { position: absolute; top: 0; bottom: 0; width: 100%; }
</style>
{% endblock %}

{% block content %}
<div class = "container">
  <div class = "col-md-6 col-md-offset-3">
    <div class="wrapper">
      <h2 class="form-signin-heading">Comfort Maps</h2>
    </div>
  </div>
</div>
      <div id="map"></div>
      <script>
          mapboxgl.accessToken = 'pk.eyJ1Ijoic2NsYXkiLCJhIjoiY2szcTl2czU2MDlnejNldWd1ZnBrOW5wcyJ9.BdZP1b0mQlxRuK2UST4d7A';
          var map = new mapboxgl.Map({
              container: 'map',
              style: 'mapbox://styles/sclay/ck73tassr0wqw1inzezyxzs54',
              center: [-71.115, 42.375], // [long, lat]
              zoom: 15
          });
          // disable map zoom when using scroll
          map.scrollZoom.disable();
      </script>
{% endblock %}